# Copy this file to .env and fill in your values
# cp .env.example src/web_interface/.env

YOLO_WEIGHTS=../../models/yolov8_brain_tumor/weights/best.pt
EFFNET_WEIGHTS=../../models/efficientnet_b3_brain_tumor.pt
MONGO_URI=mongodb://localhost:27017/
PORT=5000
